:root {
    --spotify-grey: #a7a7a7;
    --spotify-white: #fff;
    --spotify-green: #1cc558;
    --spotify-blue: #457fc3;
    --spotify-black: #000;
    --spotify-container1: #121212;
    --spotify-container2: #171717;
    --spotify-container3: #2a2a2a;
    --spotify-container4: #414141;
    --spotify-default-blue: #0b195b;
    --spotify-red: #d32f2f;
}

body {
    background-color: var(--spotify-black);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: smaller;
    letter-spacing: 1px;
}

.background {
    height: 97vh;
    overflow: hidden;
}


/* ? scrollbar width  */
.container-1::-webkit-scrollbar,
.track-list::-webkit-scrollbar {
    width: 12px;
}

/* ? scrollbar background  */
.container-1::-webkit-scrollbar-track,
.track-list::-webkit-scrollbar-track {
    background: transparent;
}

/* ? scrollbar bar itself  */
.container-1::-webkit-scrollbar-thumb,
.track-list::-webkit-scrollbar-thumb {
    background: var(--spotify-grey);
}


.container-1 {
    background-color: var(--spotify-container1);
}

.container-2 {
    background-color: var(--spotify-container2);

}

.container-3 {
    background-color: var(--spotify-container3);
}

.container-4 {
    background-color: var(--spotify-container4);
}

.native-navigation,
.side-spotify {
    display: flex;
    flex-direction: column;
    color: var(--spotify-grey);
    height: 115px;
    width: 385px;
    min-width: 385px;
    border-radius: 10px;
    justify-content: space-around;
    padding-left: 20px;
    margin: 0px 8px 8px 0px;
}

.side-spotify {
    justify-content: flex-start;
    height: 90vh;
    max-height: 77vh;
    margin-bottom: 0;
}


.navigation-items {
    display: flex;
    align-items: center;
}

.playbar {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--spotify-black);
}

.spotify {
    margin-bottom: 8px;
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    height: 90vh;

}

.song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}


.like-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: underline;
    display: inline;
    text-align: left;
}

.song-like {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.like-btn:hover,
.like-btn:focus {
    text-decoration: none;
    outline: none;
}

.pb1,
.pb2,
.pb3 {
    display: flex;
}

.pb1 {
    margin-left: 8px;
}

.pb3 {
    margin-right: 8px;
}

.pb2,
.pb3 {
    display: flex;
    align-items: center;
    color: var(--spotify-white);
}

.pb2 {
    font-size: small;
}

.player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.list-filters {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.track-list {
    overflow: auto;
}

.playlist-item {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--spotify-white);
    font-weight: bold;
}

.header {
    height: 325px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 23px;
    padding-left: 23px;
    color: var(--spotify-white);
}



.spotify-main-controlers {
    padding-left: 23px;
    padding-top: 23px;
    display: flex;
    align-items: center;
}

.spotify-copyrights {
    padding: 25px 0px 25px 25px;
    color: var(--spotify-grey);
    font-size: 10px;
}

a {
    color: #48dc7d;
}

.MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.filter-badges {
    background-color: var(--spotify-container3) !important;
    cursor: pointer !important;
    color: var(--spotify-white) !important;
    font-weight: bold !important;
    margin-right: 7px !important;
}


.MuiSelect-icon {
    color: var(--spotify-grey) !important;
}

.MuiPaper-root {
    background-color: var(--spotify-container3) !important;
}

.css-11uz2jy-MuiPaper-root-MuiAlert-root {
    background-color: rgb(237, 170, 170) !important;
}

.MuiPaper-root li:hover,
.filter-badges:hover {
    background-color: var(--spotify-container4) !important;
}

.MuiPaper-root li[aria-selected="true"] {
    color: var(--spotify-green) !important;
}

.spotify-controller-icon:hover {
    font-size: 72px;
}

.select-sorted-filter:hover,
.MuiSelect-icon:hover {
    color: var(--spotify-white) !important;
}

.css-1ua80n0-MuiInputBase-input-MuiOutlinedInput-input {
    color: var(--spotify-grey) !important;
}

.search-keyword-warning {
    width: 365px;
    max-width: 365px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    height: 50vh;
    margin: 0;
    font-size: medium;
    color: var(--spotify-white);
    flex-direction: column;
}

.spotify-loading,
.spotify-error {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.MuiAlert-filledError {
    background-color: var(--spotify-red) !important;
}

.playlist-owner {
    color: var(--spotify-white);
    text-decoration: none;
    outline: none;
}

.playlist-owner:hover {
    text-decoration: underline
}

#audio-element-controller {
    display: none;
}

.css-wop1k0-MuiDataGrid-footerContainer {
    display: none !important;
}

.css-5wly58-MuiDataGrid-root .MuiDataGrid-withBorderColor {
    border-color: transparent !important;
}

.css-5wly58-MuiDataGrid-root .MuiDataGrid-iconSeparator {
    color: transparent !important;
}

.css-5wly58-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-5wly58-MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: transparent !important;
}

.css-5wly58-MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: #8584846e !important;
}

.css-5wly58-MuiDataGrid-root .MuiDataGrid-columnHeader {
    padding-right: 0 !important;
}

.control-main-btn{
    position: relative;
    height: 40px;
    width: 40px;
    background: var(--spotify-black);
}